<head>
  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/header.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/artist_form.css" type="text/css">
</head>

<body>
  <div class="header">
    <div class="button"><a href="/artists">MyMusicApp</a></div>
    <div class="button"><a href="/artists">Cancel</a></div>
  </div>

  <div class="filler"></div>
  <h1>Create New Artist</h1>
  <div class="errors"><%= flash[:errors].join(", ") if flash[:errors] %></div>
  <div class="form">
    <form action="/artists" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input class="input" type="text" name="artist[name]" placeholder="Name">
      <input class="input" type="text" name="artist[image_url]" placeholder="Image URL">
      <input class="submit" type="submit" value="Submit">
    </form>
  </div>
</body>
